@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --text: #333333;
  --background: #FAF8F5;
  --primary: #ff9671;
  --secondary: #b283a2;
  --accent: #df8955;

  --font-main: "LXGW WenKai TC", system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
  --font-title: ChenYuluoyan, system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
  --font-sans: 'Inter', system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;

  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@layer base {
  details > summary {
    list-style: none;
  }
  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
  .title-blur {
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5rem;
      border-radius: 999rem;
      filter: blur(2rem);
      z-index: 2;
    }
  }
  .title-blur::before {
    left: 15%;
    top: 10%;
    animation: bump 2s infinite alternate;
  }
  .title-blur::after {
    right: 15%;
    bottom: 10%;
    animation: bump-reverse 4.5s infinite alternate .5s;
  }
  .magic-btn {
    @apply bg-linear-to-br/oklch from-primary to-secondary/80 hover:animate-pulse text-background items-center font-medium gap-2 cursor-pointer rounded-full py-2 px-6 hover:scale-105 transition active:scale-95;
  }
  @keyframes bump {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50%);
    }
  }
  @keyframes bump-reverse {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes wave {
    0% {
      rotate: 0deg;
      translateY: 0;
    }
    100% {
      rotate: -15deg;
      translateY: 2rem;
    }
  }
  @keyframes wave2 {
    0% {
      rotate: 5deg;
      translateY: 0;
    }
    100% {
      rotate: 15deg;
      translateY: -2rem;
    }
  }
}

html {
  view-transition-name: none;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.red {
  animation: wave 5s ease-in-out alternate infinite;
  transform-origin: bottom right;
}
.yel {
  animation: wave2 12s ease-in-out alternate-reverse infinite;
  transform-origin: bottom left;
}

@font-face {
  font-family: ChenYuluoyan;
  src: url('./assets/font/ChenYuluoyan.woff2');
  font-display: swap;
  font-weight: 400;
}
