@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --text: #333333;
  --background: #FAF8F5;
  --primary: #ff9671;
  --secondary: #b283a2;
  --accent: #df8955;

  --font-main: FakePearl, system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
  --font-title: ChenYuluoyan, system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;
  --font-sans: 'Inter', system-ui, Arial, Helvetica, 'Courier New', Courier, monospace;

  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  details > summary {
    list-style: none;
  }
  details > summary::marker,
  details > summary::-webkit-details-marker {
    display: none;
  }
  .title-blur {
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 5rem;
      height: 5rem;
      border-radius: 999rem;
      filter: blur(2rem);
      z-index: 2;
    }
  }
  .title-blur::before {
    left: 15%;
    top: 10%;
    animation: bump 2s infinite alternate;
  }
  .title-blur::after {
    right: 15%;
    bottom: 10%;
    animation: bump-reverse 4.5s infinite alternate .5s;
  }
}

@keyframes bump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}
@keyframes bump-reverse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-ExtraLight.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-ExtraLight.woff) format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Medium.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Medium.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: ChenYuluoyan;
  src: url(https://cdn.jsdelivr.net/gh/Chenyu-otf/chenyuluoyan_thin@latest/ChenYuluoyan-Thin.ttf);
  font-display: swap;
}

html {
  view-transition-name: none;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.v-leave-active {
  transition: opacity 1s cubic-bezier(1, 0.5, 0.8, 1);
}

.v-leave-to {
  opacity: 0;
}

.red {
  animation: wave 5s ease-in-out alternate infinite;
  transform-origin: bottom right;
}
.yel {
  animation: wave2 12s ease-in-out alternate-reverse infinite;
  transform-origin: bottom left;
}

@keyframes wave {
  0% {
    rotate: 0deg;
    translateY: 0;
  }
  100% {
    rotate: -15deg;
    translateY: 2rem;
  }
}
@keyframes wave2 {
  0% {
    rotate: 5deg;
    translateY: 0;
  }
  100% {
    rotate: 15deg;
    translateY: -2rem;
  }
}