@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 12 11 9;
    --background: 250 248 245;
    --primary: 210 176 132;
    --secondary: 223 192 150;
    --accent: 221 166 95;
  }
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-ExtraLight.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-ExtraLight.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Light.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Medium.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Medium.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: FakePearl;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-SemiBold.woff) format("woff");
  font-weight: 700;
}

html {
  view-transition-name: none;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.subject {
  animation: reveal linear both;
  animation-timeline: view(block);
  animation-range: contain 0% contain 40%;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}